 * {padding: 0; margin: 0;}
        html, body {height: 100%;}
        body {background: black;}
        header {height: 10%; background: #ee6c4d;}
        main {height: 80%; background: #caf0f8; overflow-y: scroll;}
        footer {height: 10%; background: #caf0f8; text-align: center; padding-top: 2%;}
        article {height: auto; background: c9184a; width: 60%; float: left; margin-bottom: 20px; overflow-y: scroll;}
        aside {height: auto; background: 9f86c0; width: 40%; float: right; margin-bottom: 20px;}
        section {padding: 20px;}
        h1 {font-size: 24px; margin-bottom: 10px;}
        p {font-size: 16px; line-height: 1.6; padding-left: 3%;}
        #logo, #space, #topic1,
        #topic2, #topic3 {height: 100%; width: 20%; float: left;}
        #logo img {max-height: 100%; max-width: 100%;}
        #topic1, #topic2, #topic3 {color: black;box-sizing: border-box;padding-top: 2%;}
        footer
        {
        color: black;
        box-sizing: border-box;
        padding-top: 2%;
        }
        footer {text-align: center; padding-top:2%;}
        img {border-radius: 1%;}
        aside {text-align: center;}
        .helper {
        display: inline-block;
        width: 0%;
        height: 100%;
        vertical-align: middle;
        }
        aside img {
        max-width: 95%; max-height: 99%; opacity: 0;
        transition: opacity 500ms; vertical-align: middle;
        }
        main:hover aside img {opacity: 1;}
        section img {max-height: 25%; max-width: 25%; margin-top: 1%;}
        header {font-size: 120%;}
        a {text-decoration: none; color: #e0fbfc;}



        .bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}